
.container {
    font-family: 'Bahianita', cursive;
    font-family: 'Yantramanav', sans-serif;
}

#icon-links{
    text-decoration: none;
    color: black;
}

#logo{
    font-size: 30px;
    text-shadow: 0px 0 rgb(160, 146, 146), 0 20px rgb(224, 224, 224), 0px 0 rgb(160, 146, 146), 0 0px rgb(160, 146, 146);
    text-decoration: none;
    color: black;
}